page-essai {
    .col{
        text-align:center!important;
    img-loader{
       
        width: 130px!important;
        height: 130px!important;
        margin:0px!important;
        margin:0px auto!important;
    }
}
   .imge {
    width: 70px;
    margin-right: -264px;
    }
    div{
     //   margin-top: -45px;
    }
    
    .sommeclass{
     position:absolute;
     z-index: 999;
     top:20px;
     left:14px;
     .somo{
         font-size:11px;
     }
    }
    .sip{
        width: 160px;
        position: absolute;
        z-index: 999;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
    }
    .scroll-content{
        background: url("../assets/imgs/net.png") no-repeat center;
        //background: url("../assets/imgs/net.png")  ;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        background-position-y: 108%;
        
    }
    .questions{
        margin-top: 4.1rem; 

    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0px!important;
        text-align: left!important;
    }
     
}
