page-fin {
    
    .op{
        font-size: 100px;
        color:#3AE7E2;
    }
    p{
        text-align: center;
    
    }
    .po{
        font-size: 40px;
        color:#3AE7E2;
    }
    a:link 
    { 
        text-decoration:none; 
    } 
    
    div {
        text-align: center;
    }
    .pour{
        font-size: 26px;
    }
    .bio{
        padding: 25px;
    }
}   
